.repoCard {
    border: 1px solid #1f6feb;
    border-radius: 6px;
    padding: 10px 20px;
    width: 100%;
    margin: 10px auto;

}

.repoCard:hover {
    border: 1px solid #7cb0f6;
}

.urlPoint span {
    color: #1f6feb;
}

.gitDataItems {
    display: flex;
}

h2 {
    color: #1f6feb;
    font-weight: 900;
    margin: 0;
    display: inline-block;
}

.urlPoint {
    margin-bottom: 10px;
}
