@import "../../common/sass/variables";

.notFound {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 430px;
    width: 45%;
    margin: 50px auto;
    @media screen and (max-width: 1125px) {
        justify-content: center;
        img {
            margin-top: 30px;
        }
    }
    p {
        width: 300px;
        font-size: 1.25rem;
        .sorryWord {
            font-weight: bold;
            font-size: 3.75rem;
        }
        .searchCompany {
            display: inline-block;
            max-width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $ErrorColor;
            font-weight: 900;
            transform: translateY(6px);
            font-size: 1.25rem;
        }
    }
}

