.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0 0;
}

.searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    min-width: 669px;
}

@media screen and (max-width: 1025px) {
    .searchForm {
        width: 92%;
        min-width: 300px;
    }

    .inputBtnWrapper {
        width: 35%;
    }
}
@media screen and (max-width: 789px) {
    .searchForm {
justify-content: center;
    }
    .inputBtnWrapper {
        width: 35%;
        min-width: 321px;
    }
}


.inputBtnWrapper {
    width: 46%;
    margin: 5px;
}


input {
    display: inline-block;
    outline: none;
    background-color: #0d1117;
    border: 1px solid #21262d;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 1.25rem;
    width: 100%;
}

input:focus {
    border: 1px solid #1f6feb;
}

header button {
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #1f6feb;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width: 426px){
    h1 {
        font-size: 1.375rem;
    }
    .header {
        margin: 50px 0 0;
    }
}

@media screen and (max-width: 376px){
    h1 {
        font-size: 1.2rem;
    }
    /*.header {*/
    /*    margin: 0 0 50px;*/
    /*}*/
    .inputBtnWrapper {
        min-width: 300px;
    }
}
