.paginator {
    margin: 20px 0 100px;
    display: flex;
}

.selectedPage {
    font-weight: bold;
    background-color: #1f6feb;
}

.page {
    display: flex;
    padding: 3px 5px;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.page:hover {
    background-color: #4a8aef;
}

button {
    background-color: #1f6feb;
    border-radius: 0 6px 6px 0;
    outline: none;
border: none;
    font-weight: bold;
    cursor: pointer;
}
